body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #183b6e;
    background-image: url('../images/page_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 500px;
    margin: 100px auto;
}

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 20px;
}

.card-title {
    text-align: center;
}

.card-footer {
    background-color: #f9f9f9;
    padding: 10px;
}

.nav-tabs .nav-link {
    color: #333;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

.small-text {
    font-size: 14px;
    margin-top: 10px;
    color: #666;
  }
  





